<style>
    table.eli5-weights {
        border-collapse: collapse;
    }
    table.eli5-weights tr:hover {
        background-color: #f5f5f5;
    }
    table.eli5-weights td,
    table.eli5-weights th {
        padding-left: 1em;
        padding-right: 2em;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }
    table.eli5-weights td:last-child,
    table.eli5-weights th:last-child {
        padding-right: 0;
    }
</style>

{% if method %}
    <p>Explained as: {{ method }}</p>
{% endif %}

{% if description %}
    {# TODO - have a structured prepresentation and convert it to html and text #}
    <pre>{{ description }}</pre>
{% endif %}

{% if classes %}
    {% with explanations = classes %}
    {% include "weights.html" with context %}
    {% endwith %}
{% endif %}

{% if targets %}
    {% with explanations = targets %}
        {% include "weights.html" with context %}
    {% endwith %}
{% endif %}

{% if feature_importances %}
    <table class="eli5-weights">
        <thead>
        <tr>
            <th align="right">Feature</th>
            <th align="right">Weight</th>
        </tr>
        </thead>
        <tbody>
        {% for name, w, std in feature_importances %}
            <tr>
                <td align="right">{{ name }}</td>
                <td align="right">
                    {{ "%0.4f"|format(w) }} &plusmn; {{ "%0.4f"|format(2 * std) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
