<style>
    table.eli5-weights {
        border-collapse: collapse;
        border: none;
    }
    table.eli5-weights tr {
        border: none;
    }
    table.eli5-weights tr:hover {
        filter: brightness(85%);
    }
    table.eli5-weights td,
    table.eli5-weights th {
        padding: 0 1em 0 0.5em;
        text-align: right;
        border: none;
    }
    table.eli5-weights td:last-child,
    table.eli5-weights th:last-child {
        /* Weights */
        text-align: left;
        padding-right: 0.5em;
    }
</style>
