{% set classes = expl.transition_features.class_names %}
{% set coef = expl.transition_features.coef %}

<table>
    <thead>
        <tr>
            <td>From \ To</td>
            {% for class_name in classes %}
                <th>{{ class_name|e }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% with weight_range = numpy.abs(coef).max() %}
            {% for class_name, row in zip(classes, coef) %}
                <tr>
                    <th>{{ class_name|e }}</th>
                    {% for value in row %}
                        <td style="background-color: {{ value|weight_color(weight_range) }}">
                            {{ value | round(3) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endwith %}
    </tbody>
</table>
