{% if wts.pos or wts.neg or wts.neg_remaining or wts.pos_remaining %}

    {% if not inline_target_header %}
        <p>
            {% include "target_header.html" with context %}
        </p>
    {% endif %}

    <table class="eli5-weights" style="{{ table_styles }}">
        <thead>
        {% if inline_target_header %}
            <tr style="{{ tr_styles }}">
                <td colspan="2" style="{{ tddm_header_styles }}">
                    {% include "target_header.html" with context %}
                </td>
            </tr>
        {% endif %}
        <tr style="{{ tr_styles }}">
            <th style="{{ td1_styles }}">Weight</th>
            <th style="{{ td2_styles }}">Feature</th>
        </tr>
        </thead>
        <tbody>
        {% for fw in wts.pos %}
            {% include "weights_table_row.html" with context %}
        {% endfor %}
        {% if wts.pos_remaining %}
            <tr style="background-color: {{ wts.pos|remaining_weight_color(w_range, 'pos') }}; {{ tr_styles }}">
                <td colspan="2" style="{{ tdm_styles }}">
                    <i>&hellip; {{ wts.pos_remaining }} more positive &hellip;</i>
                </td>
            </tr>
        {% endif %}

        {% if wts.neg_remaining %}
            <tr style="background-color: {{ wts.neg|remaining_weight_color(w_range, 'neg') }}; {{ tr_styles }}">
                <td colspan="2" style="{{ tdm_styles }}">
                    <i>&hellip; {{ wts.neg_remaining }} more negative &hellip;</i>
                </td>
            </tr>
        {% endif %}
        {% for fw in wts.neg|reverse %}
            {% include "weights_table_row.html" with context %}
        {% endfor %}

        </tbody>
    </table>
{% endif %}
