{% if horizontal_layout and expl.targets|length > 1 %}

    {% if force_weights or not any_weighted_spans %}
        <table style="{{ dense_multitarget_table_styles }}">
            <tr>
                {% with w_range = expl.targets|weight_range %}
                    {% for target in expl.targets %}
                        <td style="{{ dense_multitarget_td_styles }}">
                            {% if force_weights or not target.weighted_spans %}
                                {% with wts = target.feature_weights %}
                                    {% set inline_target_header = True %}
                                    {% include "weights_table.html" with context %}
                                {% endwith %}
                            {% endif %}
                        </td>
                    {% endfor %}
                {% endwith %}
            </tr>
        </table>
    {% endif %}

    {% for target in expl.targets %}
        {% include "weighted_spans.html" with context %}
    {% endfor %}

{% else %}

    {% for target in expl.targets %}

        {% if force_weights or not target.weighted_spans %}
            {% with wts = target.feature_weights %}
                {% set inline_target_header = False %}
                {% set w_range = wts|weight_range %}
                {% include "weights_table.html" with context %}
            {% endwith %}
        {% endif %}

        {% include "weighted_spans.html" with context %}

    {% endfor %}
{% endif %}
