{% for target in expl.targets %}

    <p>
        <b>
            {% if expl.is_regression %}
                {{ target.target }}
            {% else %}
                y={{ target.target }}
            {% endif %}
        </b>
        {% if target.proba is not none or target.score is not none %}
            {% set comma = joiner(", ") %}
            (
            {%- if target.proba is not none -%}
                {{ comma() }}probability <b>{{ "%0.3f"|format(target.proba) }}</b>
            {%- endif -%}
            {%- if target.score is not none -%}
                {{ comma() }}score <b>{{ "%0.3f"|format(target.score) }}</b>
            {%- endif -%}
            )
        {% endif %}
        top features
    </p>

    {% if force_weights or not target.weighted_spans %}
        {% with wts = target.feature_weights %}
            {% include "weights_table.html" with context %}
        {% endwith %}
    {% endif %}

    {% if target.weighted_spans %}
        {% with wts = target.weighted_spans.other %}
            {% include "weights_table.html" with context %}
        {% endwith %}
        <p>
            {{ target.weighted_spans|render_weighted_spans(preserve_density) }}
        </p>
    {% endif %}

{% endfor %}
